.newsletter-section {
    position: relative;


    .bg-circle {
        position: absolute;
        width: 316.36px;
        height: 344.339px;
        flex-shrink: 0;

        border-radius: 344.339px;
        background: #DDF2FC;
        filter: blur(250px);

        top: -27px;
        left: -10px;
    }
}

.newsletter-block {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 130px;

    @media (max-width: 1151px) {
        flex-direction: column;
    }

}

.newsletter-content-box {
    max-width: 758px;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 20px;

    background: #F2F2FF;

    padding: 0 clamp(1.6rem, 7.04vw - 1.04rem, 6rem);



    @media (max-width: 1151px) {
        max-width: 100%;

        padding-bottom: 120px;
    }


    &__title {
        max-width: 400px;
        width: 100%;
        color: var(--Black, #1D1E25);
        font-family: Poppins;
        font-size: clamp(3.2rem, 3.048vw + 2.057rem, 4.8rem);
        font-style: normal;
        font-weight: 600;
        line-height: clamp(4.1rem, 3.048vw + 2.957rem, 5.7rem);
        letter-spacing: -1px;

        margin-top: clamp(3.2rem, 13.76vw - 1.96rem, 11.8rem);

        @media (max-width: 1151px) {
            max-width: 100%;
        }

        & span {
            color: #FE7747;
        }
    }

    &__desc {
        color: #6F7071;

        /* Paragraph/large - medium */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        /* 155.556% */

        max-width: 415px;
        width: 100%;

        margin-bottom: 102px;

        @media (max-width: 1151px) {
            max-width: 100%;
        }
    }
}

.newsletter-form-box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #FFF;
    padding: 56px clamp(2.4rem, 9.28vw - 1.08rem, 8.2rem);

    gap: 30px;


    z-index: 2;

    max-width: 670px;
    width: 100%;

    position: relative;

    margin-left: -208px;


    @media (max-width: 1151px) {
        max-width: 95vw;

        margin-top: -170px;
        margin-left: 0;





    }



    &__img {
        max-width: clamp(4.4rem, 3.52vw + 3.08rem, 6.6rem);
        width: 100%;

        & img {
            max-width: 100%;
        }

        // @media (max-width: 639px) {

        //     display: none;
        // }
    }


}

.bg-img {
    position: absolute;
    top: 39px;
    right: -30px;
    // z-index: -1;

    & img {}

    @media (max-width: 1151px) {

        top: unset;
        right: unset;
        left: -39px;
        bottom: 50px;
    }
}

.newsletter-form {
    display: flex;
    align-items: center;
    position: relative;



    &__email-input {
        border-radius: 41px;
        background: #EDEDEE;
        padding: clamp(0.8rem, 0.64vw + 0.56rem, 1.2rem) clamp(14rem, 5.92vw + 11.78rem, 17.7rem) clamp(0.8rem, 0.64vw + 0.56rem, 1.2rem) clamp(1.8rem, 0.96vw + 1.44rem, 2.4rem);

        max-width: 403px;
        width: 100%;

        border: none;
        color: var(--Text-color-Gray--2, #8A898C);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        /* 212.5% */
        letter-spacing: 0.32px;

        &:placeholder-shown {
            opacity: 0.5;
        }

        @media (max-width: 1151px) {

            max-width: 100%;
        }

    }

    &__submit-btn {
        position: absolute;
        right: 0;
        border-radius: 41px;
        background: var(--Primary-Color-Orange, #FE7747);
        padding: clamp(0.8rem, 0.64vw + 0.56rem, 1.2rem) clamp(1.8rem, 0.96vw + 1.44rem, 2.4rem);
        ;
        color: var(--Text-color-white, #FFF);
        font-family: Poppins;
        font-size: clamp(1.4rem, 0.32vw + 1.28rem, 1.6rem);
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        /* 212.5% */
        letter-spacing: 0.32px;

        & span {

            @media (max-width: 639px) {

                display: none;
            }
        }
    }
}
